@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&family=Work+Sans:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}
nav {
  position: absolute;
  z-index: 10;
  width: 100vw;
  padding: 23px;
  color: white;
  display: flex;
  justify-content: space-around;
}
.sidebar {
  display: none;
}
.close-btn {
  display: none;
}
nav .MidNav ul {
  padding: 15px;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
nav li {
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: white;
}
nav li a:hover {
  color: rgb(8, 6, 6);
  transition: all 0.3s ease-in-out;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoHead {
  display: flex;
}
.vr {
  font-size: 15.161px;
  font-weight: bolder;
  letter-spacing: 4.169px;
}
.ity {
  font-size: 15.161px;
  letter-spacing: 4.169px;
}
nav .navIcon {
  font-size: 20px;
  padding: 10px;
}
nav .navIcon i {
  margin: 5px;
  cursor: pointer;
}
nav .navIcon i:hover {
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}
.first {
  background: url(imgs/firstBg.png) #d3d3d300 0px 0px / 165.228% 100% no-repeat;
  backdrop-filter: blur(400px);
  width: 100vw;
  height: 590px;
}
.firstRest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
}
.first .firstImg {
  background: url(imgs/img.png), #d3d3d300 0px 0px / 165.228% 100% no-repeat;
  width: 570px;
  background-size: 525px;
  height: 477px;
  position: relative;
  top: 80px;
  flex-shrink: 0;
}
.firstHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 86px;
  left: 212px;
  font-size: 23px;
}
.svg1 {
  width: 100vw;
  position: relative;
  z-index: 0;
  top: -250px;
}
#virtual {
  height: 130px;
  font-family: "Bungee Outline";
  font-size: 77px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  right: 85px;
  color: white;
  z-index: 16;
}
#reality {
  background: linear-gradient(
    97deg,
    #fff -2.81%,
    rgba(255, 255, 255, 0) 103.92%
  );
  position: relative;

  right: -5px;
  z-index: 15;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 85px;
  font-weight: 500;
  flex-shrink: 0;
}
.what {
  overflow: auto;
  width: 218px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(
    --GRADIENT-ELEMENS,
    linear-gradient(93deg, #00d1ff 1.04%, #ff50e3 49.12%, #ad00ff 96.6%)
  );
  color: var(--WHITE-CONTENT, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  border: none;
  line-height: normal;
  position: relative;
  top: 24px;
  left: 75px;
  z-index: 16;
}
.circle-svg-1 {
  position: relative;
  top: -481px;
  left: 84px;
  width: 54px;
}
.circle-svg-2 {
  position: relative;
  top: -950px;
  left: 984px;
  width: 51px;
  filter: blur(4px);
}
.circle-svg-3 {
  position: fixed;
  left: 505px;
  top: 393px;
  filter: blur(3px);
}
.circle-svg-4 {
  filter: blur(4px);
  height: 64px;
  position: relative;
  top: 31px;
  left: 62px;
}
.circle-svg-5 {
  position: relative;
  top: 338px;
  right: 145px;
  height: 43px;
}
.vector-1 {
  fill: linear-gradient(
    141deg,
    rgba(255, 255, 255, 0.7) -55.48%,
    rgba(255, 255, 255, 0) 78.54%
  );
  filter: blur(7.5px);
  position: fixed;
  top: 120px;
  left: 120px;
}
.vector-2 {
  position: fixed;
  top: 267px;
  right: -20px;
}
.vector-3 {
  position: fixed;
  top: 0px;
  left: 437px;
}

/* //////////////////////////////////////////////////// */
/* second section  */
.section-2 {
  color: white;
  background-color: #333;
  height: 410px;
  display: flex;
}
.oculus img {
  position: relative;
  bottom: -41px;
  width: 433px;
  height: 213px;
  left: 97px;
}
.vector-5 img {
  width: 500px;
  height: 331px;
  left: 75px;
  position: absolute;
}
.section-2-second {
  padding: 34px 0 0 50px;
}
.WhatVR2 {
  text-align: center;
  font-size: 29px;
  font-weight: 500;
  font-family: "Bungee Outline";
  height: 55px;
}
.Ps2 {
  text-align: center;
  position: relative;
  z-index: 90;
  font-size: 17px;
  align-items: center;
  line-height: 32px;
  font-family: math;
}
.try {
  display: flex;
  background: none;
  border: none;
  padding: 39px 0;
  color: white;
}
.tryText {
  position: relative;
  top: 16px;
  font-size: 17px;
  left: 148px;
}
.tryImg {
}
.tryIcon {
  position: relative;
  bottom: 15px;
  right: 68px;
}
.btnVd {
  position: relative;
  bottom: 80px;
  left: 362px;
  font-size: 18px;
  text-decoration: underline;
  background: none;
  border: none;
  color: white;
  font-weight: 100;
}
/* ///////////////////////////////////////// */
/* section - 3 */
.section-3 {
  color: white;
  background-color: #333;
  height: 410px;
}
.interested {
  padding: 0 160px;
  font-size: 29px;
  font-weight: 500;
  font-family: "Bungee Outline";
  height: 55px;
}
.Ps3 {
  font-weight: 100;
  padding: 0 160px;
}
.form {
  display: flex;
}
form {
  display: flex;
  padding: 0 0 0 85px;
  gap: 12px;
}
form div {
}
form input {
  color: white;
  position: relative;
  border-radius: 54px;
  padding: 0 0 0 12px;
  width: 255px;
  height: 46px;
  background: none;
  border: none;
  top: 48px;
  left: 2px;
  font-size: 16px;
  font-weight: 100;
}
.btnCall {
  overflow: auto;
  width: 147px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(
    --GRADIENT-ELEMENS,
    linear-gradient(93deg, #00d1ff 1.04%, #ff50e3 49.12%, #ad00ff 96.6%)
  );
  color: var(--WHITE-CONTENT, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  border: none;
  line-height: normal;
  position: relative;
  top: 44px;
  left: 0px;
  z-index: 16;
}
.checkbox {
  width: 232px;
  height: 13px;
  top: 50px;
  left: -100px;
}
.circle-svg-6 {
  position: relative;
  bottom: 50px;
  left: 42px;
  height: 83px;
  filter: blur(2px);
  width: 59px;
}
.accept {
  position: relative;
  display: inline-block;
  top: 28px;
  left: 28px;
  font-size: 11px;
  font-weight: 100;
}
.policy {
  text-decoration: underline;
}
.want {
  position: relative;
  top: 42px;
  font-weight: 100;
  right: 48px;
  font-family: "Bungee Outline";
  font-size: 30px;
  background: linear-gradient(
    97deg,
    #fff -2.81%,
    rgba(255, 255, 255, 0) 103.92%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ///////////////////////////////////////////////////// */
/* section - 4  */

.section-4 {
  color: white;
  background-color: #333;
  height: 305px;
}
.photo-bg {
  position: relative;
  left: 94px;
  height: 171px;
  border-radius: 500px;
  width: 99px;
  background: var(
    --TEAM-GRADIENT,
    linear-gradient(142deg, #00d1ff 9.56%, #fa00ff 81.76%),
    #fff
  );
  padding: 0px 27px 0px 53px;
  margin: 0 23px 0 23px;
}
.section-4-Head {
  padding: 0px 128px;
  font-size: 29px;
  font-weight: 500;
  font-family: "Bungee Outline";
  height: 55px;
  position: relative;
  bottom: 120px;
}
.team {
  display: flex;
  position: relative;
  bottom: 60px;
}
.teamImg {
  position: relative;
  bottom: 178px;
  left: 161px;
  border-radius: 0 0 61px 34px;
  width: 115px;
}
.teamHalf {
  position: relative;
  width: 115px;
  bottom: 380px;
  left: 161px;
}
.nelsonImg {
  position: relative;
  bottom: 179px;
  left: 134px;
  border-radius: 0 0 68px 59px;
  width: 152px;
}
.nelsonHalf {
  position: relative;
  width: 152px;
  bottom: 388px;
  left: 133px;
}
.burnsImg {
  position: relative;
  bottom: 181px;
  left: 115px;
  border-radius: 0 0 83px 87px;
  width: 181px;
}
.burnsHalf {
  position: relative;
  width: 181px;
  bottom: 391px;
  left: 116px;
}
.higaImg {
  position: relative;
  bottom: 184px;
  left: 133px;
  border-radius: 0 0 75px 65px;
  width: 155px;
}
.higaHalf {
  position: relative;
  width: 155px;
  bottom: 386px;
  left: 133px;
}
.nameH5 {
  position: relative;
  bottom: 245px;
  left: 160px;
  font-weight: 100;
  font-size: 17px;
}
.nelsonName {
  bottom: 260px;
}
.burnsName {
  left: 149px;
}
.nameP {
  font-size: 14px;
  position: relative;
  bottom: 244px;
  font-weight: 100;
  left: 158px;
  color: #929292;
}
.nelsonP {
  bottom: 259px;
  left: 148px;
}
.circle-svg-7 {
  position: relative;
  bottom: 339px;
  left: 955px;
  width: 66px;
}
.circle-svg-8 {
  position: relative;
  bottom: 742px;
  left: 496px;
  filter: blur(2px);
  width: 38px;
}
/* //////////////////////////////////////// */
/* section- 5 */
.section-5 {
  color: white;
  background: url(imgs/firstBg.png) #d3d3d300 0px 0px / 165.228% 100% no-repeat;
  height: 430px;
}
.section-5-Head {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  z-index: 100;
}
.svg-last {
  width: 100vw;
  position: relative;
  z-index: 0;
  bottom: 105px;
}
.contacts {
  padding: 0px 75px;
  margin: 0px 370px 0 4px;
  font-size: 34px;
  font-weight: 500;
  font-family: "Bungee Outline";
  height: 67px;
  position: relative;
  bottom: 19px;
}
.bottomText {
  position: relative;
  display: flex;
  justify-content: space-around;
  bottom: 256px;
  padding: 0 55px;
}
.bottomText h6 {
  font-size: 14px;
  font-weight: 100;
  line-height: 45px;
}
.bottomText div {
  margin: 0 40px;
}
/* //////////////////////////////////////////////////////////////////// */
/* @media screen and (max-width: 550px) {
  .sidebar {
    display: none;
  }
  .close-btn {
    display: none;
  }
  .sidebar {
    display: inline-block;
    position: fixed;
    top: 1rem;
    right: 2rem;
    font-size: 1rem;
    background: transparent;
    border-color: transparent;
    color: rgb(70, 70, 70);
    transition: all 0.3s linear;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
  }
  .sidebar:hover {
    color: rgb(7, 7, 7);
  }
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .close-btn {
    margin-top: 4px;
    padding-top: 5px;
    padding-right: 7px;
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    color: rgb(255, 0, 0);
    cursor: pointer;
  }
  .close-btn:hover {
   transform: rotate(360deg);
    color: rgb(171, 107, 107);
  }
  .show-sidebar {
    transform: translate(0);
  }
} */
